@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Muli', sans-serif;
}

.navbar {
    position: relative;
    background-color: #022e57;
    padding: 20px;
    transition: 0.5s ease;
    border-radius: 50px;
    overflow: hidden;
    /* box-shadow: 0 8px 15px rgba(0,0,0,.2); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #fff5fd;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #caf7e3;
}

.navbar input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.navbar span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #fff5fd;
    pointer-events: none;
    transition: 0.5s;
}

.navbar input:checked ~ span {
    background-color: #fff5fd;
}

.navbar span:nth-child(2) {
    transform: translateY(-8px);
}

.navbar input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.navbar span:nth-child(3) {
    transform: translateY(8px);
}

.navbar input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
